body {font-family:HNM, Arial, sans-serif;}
.header-div {font-family:HNL, Arial, sans-serif;}
.hnm {font-family:HNM, sans-serif;}
.limited {max-width:500px;margin:auto;margin-top:15px;}
#hidden {display:none;}
.full {width:100%;}
.video-div {display:none;}
video {width:100%;}


@font-face {font-family:HNL;src:url('HelveticaNeueLight.ttf');}
@font-face {font-family:HNM;src:url('HelveticaNeueMedium.ttf');}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}